<ul class="nav">
  <li *ngFor="let menuitem of filteredMenuItems" routerLinkActive="active" class="nav-item">
    
    <!-- Link type -->
    <a
      *ngIf="menuitem.type === 'link'"
      [routerLink]="[menuitem.path]"
      class="nav-link"
      (mouseenter)="onButtonEnter2($event.target)"
      (mouseleave)="onButtonOut2($event.target)"
      routerLinkActive="active"
      [style.color]="isActive(menuitem.path) ? colorHlightDefault : ''"
      [attr.data-color]="isActive(menuitem.path) ? colorHlightDefault : '#FFFFFF'"
    >
      <i class="material-icons">{{ menuitem.icontype }}</i>
      <p>{{ menuitem.title }}</p>
    </a>

    <!-- Sub menu -->
    <a
      *ngIf="menuitem.type === 'sub'"
      data-toggle="collapse"
      [attr.href]="'#' + menuitem.collapse"
      (click)="updatePS()"
      class="nav-link"
    >
      <i class="material-icons">{{ menuitem.icontype }}</i>
      <p>{{ menuitem.title }}<b class="caret"></b></p>
    </a>

    <div *ngIf="menuitem.type === 'sub'" [id]="menuitem.collapse" class="collapse">
      <ul class="nav">
        <li
          *ngFor="let child of menuitem.children"
          routerLinkActive="active"
          class="nav-item"
        >
          <a [routerLink]="[menuitem.path, child.path]" class="nav-link">
            <span class="sidebar-mini">{{ child.ab }}</span>
            <span class="sidebar-normal">{{ child.title }}</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
