<h2 mat-dialog-title class="text-lg font-semibold text-gray-700">
  {{ DD ? "Update Organisation" : "Add Organisation"}}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content class="space-y-4 pt-2">
  <!-- Name -->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter environment name" />
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="1">Active</mat-option>
      <mat-option [value]="0">Inactive</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-dialog-actions align="end" class="pt-4">
  <button mat-button (click)="onCancel()" class="mr-2">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    {{ DD ? "Update" : "Create"}}
  </button>
</mat-dialog-actions>
